<div class="row">
    <div class="img-container small-12 large-6 columns">
        <img src="{{product.image}}" alt="">
    </div>
    <div class="desc-container small-12 large-6 large-text-left columns">
        <h1>{{product.title}}</h1>
        <p>{{product.description}}</p>
        <button class="button radius" type="button" name="button">Learn More</button>
    </div>
</div>
