<footer class="row expanded">
    <img src="/assets/images/itl_logo_classic.svg" alt="ITL Logo">
    <div class="left text-center medium-5 column">
        <h5>Connect With ITL</h5>
        <ul class="social-container">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </ul>
    </div>
    <div class="right medium-7 text-center column">
        <ul class="footer-right-columns">
            <h6>About</h6>
            <a href=""><li>About ITL</li></a>
            <a href=""><li>News</li></a>
            <a href="#"><li>Events</li></a>
            <a href="#"><li>Careers</li></a>
        </ul>
        <ul class="footer-right-columns">
            <h6>Services</h6>
            <a href="#"><li>Training</li></a>
            <a href="#"><li>Repair Service</li></a>
            <a href="#"><li>Web Portal</li></a>
            <a href="#"><li>iNOCC</li></a>
        </ul>
        <ul class="footer-right-columns">
            <h6>Contact</h6>
            <a href="#"><li>Contact Us</li></a>
            <a href="#"><li>FAA Guidelines</li></a>
            <a href="#"><li>Privacy Policy</li></a>
            <a href="#"><li>Contact Sales</li></a>
        </ul>
    </div>

    <div class="right-mobile medium-7 text-center column">
        <ul class="footer-right-columns">
            <h6>About</h6>
            <a href=""><li>About ITL</li></a>
            <a href=""><li>News</li></a>
            <a href="#"><li>Events</li></a>
            <a href="#"><li>Careers</li></a>
        </ul>
        <ul class="footer-right-columns">
            <h6>Services</h6>
            <a href="#"><li>Training</li></a>
            <a href="#"><li>Repair Service</li></a>
            <a href="#"><li>Web Portal</li></a>
            <a href="#"><li>iNOCC</li></a>
        </ul>
        <ul class="footer-right-columns">
            <h6>Contact</h6>
            <a href="#"><li>Contact Us</li></a>
            <a href="#"><li>FAA Guidelines</li></a>
            <a href="#"><li>Privacy Policy</li></a>
            <a href="#"><li>Contact Sales</li></a>
        </ul>
    </div>

</footer>
<div class="column row text-center">
    <p class="footer-copy">© 2017
        <a href="#">International Tower Lighting, LLC</a> All rights reserved.
        <a href="#">Terms of Service</a> | <a href="#">Privacy Policy</a>
    </p>
</div>
