<ul>
    <li>{{#link-to 'about' class="button"}}
            About
        {{/link-to}}
    </li>
    <li>{{#link-to 'products' class="button"}}
            Products
        {{/link-to}}
    </li>
    <li>{{#link-to 'parts-service' class="button"}}
            Parts &amp; Service
        {{/link-to}}
    </li>
    <li>{{#link-to 'contact' class="button"}}
            Contact
        {{/link-to}}
    </li>
</ul>
