<article class="product-card">
    <img src="{{product.image}}" alt="{{product.title}}">
    <h3>{{product.title}}</h3>
    <p class="detail-description">{{product.description}}</p>
    <img class="product-logo" src="/assets/images/products/ETL_Intertek_Verified_Logo.png" alt="Intertek Verified">
</article>
