<div class="products-menu">
    <p {{ action 'toggleDropdown'}}><img src="assets/images/arrow_downblk.svg" alt="menu icon"></p>
    <ul class="drop-down {{if isOpen "drop-active" }}">
        <li>Lighting Solutions</li>
        <li>Monitoring Solutions</li>
        <li>ITL Monitoring Service</li>
    </ul>
</div>
