/* main sass file */

/* COLORS */
$black: #101010;
$white: #ffffff;
$teal: #1a7f80;
$montserrat: 'Montserrat', sans-serif;
$lato: 'Lato', sans-serif;

/* FOUNDATION RESETS */
body,p,h1,h2,h3,h4,h5,h6 {
    font-family: $montserrat;
}
button {
    margin: 0;
}

ul,li {
    list-style: none;
    margin: 0;
}

a {
    color: $white;
    margin: 0;
    &:hover {
        color: gray;
    }
}
