.main-banner {
    background: url('/assets/images/homepage_slider3.jpg');
    background-size: cover;
    height: 550px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-align: center;
    padding-top: 100px;
}
