<div class="main-banner">
    <h1>This is the Title</h1>
    <p>Subtitle Text</p>
    <img style="width:100%;" src="/assets/images/itltrianglebanner.jpg" alt="">
</div>
<h1>This is the home page</h1>
{{outlet}}
