<h1>This is the products page</h1>

{{#each model as |product|}}
<article class="product-card">
    <h3>{{product.title}}</h3>
    <div class="detail-description">{{product.description}}</div>
    <img src="{{product.image}}" alt="">
</article>
{{/each}}
{{outlet}}
